In [1]:
import numpy as np
import pandas as pd

In [2]:
bank = pd.read_csv(r'C:\JupyterNotebook\DataSet\banks.csv')

In [3]:
bank.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [5]:
# code starts here
banks=bank.drop(columns='Loan_ID')
print(banks.isnull().sum())

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [6]:
bank_mode=banks.mode().iloc[0]
print(bank_mode)

Gender                    Male
Married                    Yes
Dependents                   0
Education             Graduate
Self_Employed               No
ApplicantIncome           2500
CoapplicantIncome            0
LoanAmount                 120
Loan_Amount_Term           360
Credit_History               1
Property_Area        Semiurban
Loan_Status                  Y
Name: 0, dtype: object

In [7]:
banks.fillna(bank_mode, inplace=True)
print(banks.isnull().sum())

#code ends here

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [8]:
avg_loan_amount=banks.pivot_table(index=['Gender','Married','Self_Employed'],values='LoanAmount',aggfunc=np.mean)

print(avg_loan_amount)

                              LoanAmount
Gender Married Self_Employed
Female No      No             114.768116
               Yes            125.272727
       Yes     No             133.714286
               Yes            282.250000
Male   No      No             129.508621
               Yes            180.588235
       Yes     No             152.608150
               Yes            167.420000

In [9]:
loan_approved_se = banks.loc[(banks["Self_Employed"]=="Yes")  & (banks["Loan_Status"]=="Y"), ["Loan_Status"]].count()
print(loan_approved_se)

Loan_Status    56
dtype: int64

In [10]:
loan_approved_nse = banks.loc[(banks["Self_Employed"]=="No")  & (banks["Loan_Status"]=="Y"), ["Loan_Status"]].count()
print(loan_approved_nse)

Loan_Status    366
dtype: int64

In [12]:
percentage_se=(loan_approved_se*100/614)
percentage_se=percentage_se[0]
print(percentage_se)

9.120521172638437

In [13]:
percentage_nse=(loan_approved_nse*100/614)

percentage_nse=percentage_nse[0]
print(percentage_nse)

59.60912052117264

In [14]:
# loan amount term 

loan_term = banks['Loan_Amount_Term'].apply(lambda x: int(x)/12 )

In [15]:
big_loan_term=len(loan_term[loan_term>=25])

print(big_loan_term)

554

In [16]:
columns_to_show = ['ApplicantIncome', 'Credit_History']

In [17]:
loan_groupby=banks.groupby(['Loan_Status'])

loan_groupby=loan_groupby[columns_to_show]

mean_values=loan_groupby.agg([np.mean])

print(mean_values)

            ApplicantIncome Credit_History
                       mean           mean
Loan_Status
N               5446.078125       0.572917
Y               5384.068720       0.983412